In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\vaish\appdata\local\programs\python\python311\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\vaish\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\vaish\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\vaish\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.1)
Requirement already satisfied: six>=1.5 in c:\users\vaish\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

a= np.array(['h','j','k','l','m','n','o'])
s= pd.Series(a[:5])
print(s)



data = {'Name':['Jai', 'Barathi', 'Mano', 'Kamal'],
        'Age':[20, 24, 30, 21],
        'Address':['Tamilnadu', 'Delhi', 'Karanataka', 'Kerala'],
        'Qualification':['Msc', 'Phd', 'MBA', 'M.Tech']}


ser= pd.Series(data['Name'])
print(ser[2])

print(ser.loc[1:2])

0    h
1    j
2    k
3    l
4    m
dtype: object
Mano
1    Barathi
2       Mano
dtype: object